@page
@model NGO_HubConnect.Pages.DonationPageModel
@{
    
}
<html>
<head>
    <title>Donation Page</title>
</head>
<body>

    <div>
        <h2>Support Our Cause</h2>
        <p>
            Thank you for considering a donation to support our cause. Your generosity enables us to create positive change and make a lasting impact in our community. Together, we can achieve remarkable things and improve the lives of those in need.
        </p>
        <p>
            Whether you choose to contribute a small amount or a larger sum, every donation plays a crucial role in advancing our mission. It allows us to fund essential programs, provide vital resources, and make a difference where it matters most.
        </p>
        <p>
            By joining us in this journey, you become an integral part of our community of supporters. Your commitment to making the world a better place empowers us to continue our work and reach new heights. We are grateful for your consideration and excited about the positive change we can create together.
        </p>
    </div>
    <div class="form-group">
        <input type="submit" value="Donate Now" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <input type="submit" value="View Donors" class="btn btn-primary" />
    </div>

</body>
</html>